.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  height: 200px;
  background-size: 100% 100%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, .4);
}

.card a {
  color: #fff;
}
